@charset "utf-8";

/**
 * FileName: base.css
 * Author: Aniu[date:2013-10-16 15:31]
 * Update: Aniu[date:2014-04-08 13:37]
 * Version: v2.0.2
 * Description: CSS Reset & Public Components
 */

/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, keygen, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, input, textarea, select, button { margin:0; padding:0; border:none; border:0; outline:0; font-size:100%; font:inherit; vertical-align:baseline;}
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 { -webkit-text-size-adjust:none;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block;}
ol, ul { list-style:none;}
sup, sub {font-size:83%;}
blockquote, q { quotes:none;}
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none;}
del { text-decoration:line-through;}
ins, u, s, a, a:hover { text-decoration:none;}
pre, code, kbd, samp { font-family:inherit;}
em, i, cite, var, address, dfn { font-style:normal;}
h1, h2, h3, h4, h5, h6, strong, b { font-weight:normal;}
h1, h2, h3, h4, h5, h6 { font-family:\5fae\8f6f\96c5\9ed1;}
html, body, fieldset, img, iframe, abbr { border:0;}
table { border-collapse:collapse; border-spacing:0;}
caption, th { text-align:left; font-weight:normal;}
textarea{ overflow:auto; resize:none;}
label, summary { cursor:default;}
a, button, label { cursor:pointer;}
textarea, input ,button, select { -webkit-appearance:none; border-radius:0;}
textarea, input { box-sizing:content-box;}
input[type=radio] { -webkit-appearance:radio; border-radius:100%;}
input[type=checkbox] { -webkit-appearance:checkbox;}
body, textarea, input, button, select, keygen, legend { font:12px/1.14 \5fae\8f6f\96c5\9ed1; color:#000;}
html { _background-image:url(about:blank); _background-attachment:fixed;}
::-ms-clear, ::-ms-reveal{ display:none;}
input::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder { color:#C0C0C0;}
:-moz-placeholder, :-ms-placeholder { color:#C0C0C0;}
input:-ms-input-placeholder, 
textarea:-ms-input-placeholder { color:#C0C0C0;}
a { color:#000; -webkit-tap-highlight-color:rgba(0,0,0,0);}
a:hover { color:#73769D;}
.iconfont {
  font-family:"iconfont" !important;
  font-size:14px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/* function */
.f-dn { display:none;}
.f-db { display:block;}
.f-di { display:inline;}
.f-fl { float:left; display:inline;}
.f-fr { float:right; display:inline;}
.f-fn { float:none;}
.f-pr { position:relative;}
.f-pa { position:absolute;}
.f-oh { overflow:hidden;}
.f-fs10 { font-size:10px; -webkit-transform:scale(0.83); -moz-transform:scale(0.83); -o-transform:(0.83);}
.f-fs11 { font-size:11px; -webkit-transform:scale(0.92); -moz-transform:scale(0.92); -o-transform:(0.92);}
.f-fs12 { font-size:12px;}
.f-fs14 { font-size:14px;}
.f-fs16 { font-size:16px;}
.f-fs18 { font-size:18px;}
.f-fwb { font-weight:bold;}
.f-tal { text-align:left;}
.f-tac { text-align:center;}
.f-tar { text-align:right;}
.f-vam { vertical-align:middle;}
.f-vat { vertical-align:top;}
.f-wsn { word-wrap:normal; white-space:nowrap;}
.f-wbba { word-wrap:break-word; word-break:break-all;}
.f-toe { text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.f-ti { overflow:hidden; text-indent:-999em;}
.f-ti2 { text-indent:2em;}
.f-cp { cursor:pointer;}
.f-nus { -webkit-user-select:none; -ms-user-select:none; user-select:none;}
.f-clear { overflow:hidden; display:block; clear:both; height:0;}
.f-clearfix:before, .f-clearfix:after { content:''; display:table;}
.f-clearfix:after { clear:both;}
.f-clearfix,.f-zm { *zoom:1;}
.f-yahei { font-family:\5fae\8f6f\96c5\9ed1;}
.f-song { font-family:\5b8b\4f53;}

/* edge */
.e-mt-1 { margin-top:-1px;}
.e-mt0 { margin-top:0px;}
.e-mt5 { margin-top:5px;}
.e-mt10 { margin-top:10px;}
.e-mt15 { margin-top:15px;}
.e-mt20 { margin-top:20px;}
.e-mr0 { margin-right:0px;}
.e-mr-3 { margin-right:-3px;}
.e-mr5 { margin-right:5px;}
.e-mr10 { margin-right:10px;}
.e-mr15 { margin-right:15px;}
.e-mr20 { margin-right:20px;}
.e-mb0 { margin-bottom:0px;}
.e-mb5 { margin-bottom:5px;}
.e-mb10 { margin-bottom:10px;}
.e-mb15 { margin-bottom:15px;}
.e-mb20 { margin-bottom:20px;}
.e-ml0 { margin-left:0px;}
.e-ml-3 { margin-left:-3px;}
.e-ml5 { margin-left:5px;}
.e-ml10 { margin-left:10px;}
.e-ml15 { margin-left:15px;}
.e-ml20 { margin-left:20px;}
.e-ml30 { margin-left:30px;}
.e-pt0 { padding-top:0px;}
.e-pt10 { padding-top:10px;}
.e-pt15 { padding-top:15px;}
.e-pt20 { padding-top:20px;}
.e-pr0 { padding-right:0px;}
.e-pr10 { padding-right:10px;}
.e-pr15 { padding-right:15px;}
.e-pr20 { padding-right:20px;}
.e-pb0 { padding-bottom:0px;}
.e-pb10 { padding-bottom:10px;}
.e-pb15 { padding-bottom:15px;}
.e-pb20 { padding-bottom:20px;}
.e-pl0 { padding-left:0px;}
.e-pl10 { padding-left:10px;}
.e-pl15 { padding-left:15px;}
.e-pl20 { padding-left:20px;}

/* grid */
.g-body { width:100%; min-width:1200px;}
.g-wrap { margin:0 auto; width:1200px;}

/* ui */
.ui-tine { display:inline-block; line-height:0; font-size:0; border:6px dashed transparent;}
.ui-animate { -webkit-animation-duration:1s; -webkit-animation-fill-mode:both; animation-duration:1s; animation-fill-mode:both;}
.ui-trans { -webkit-transition:all .2s ease-in; -ms-transition:all .2s ease-in; transition:all .2s ease-in;}
.ui-blank { background:url("../images/blank.gif?v=e9bb06d") repeat;}

/* tab */
.ui-tab { display:none;}
.ui-tab li { display:inline;}
.ui-tab li a { display:inline-block; text-align:center;}
.ui-tab li a:hover { text-decoration:none;}
.ui-tab li { position:relative; cursor:pointer;} 
.ui-tabbox { position:relative;}
.ui-tabbtn { position:absolute;}
.ui-tabwrap { position:relative; overflow:hidden;}
.ui-tabwrap .ui-tab { position:absolute; top:0; left:0;}

/* layer */
.ui-layer { overflow:visible !important; overflow:hidden; position:absolute; display:none; padding:0px; /*box-shadow:3px 3px 4px rgba(195,195,195,.7);*/}
.ui-layer-box { position:relative; background-color:#fff; _zoom:1; /*border:1px solid #B7B7B7;*/ border-radius:5px;}
.ui-layer-body { position:relative; *zoom:1;}
.ui-layer-title { padding-left:15px; height:33px; line-height:33px; font-size:14px; color:#333; border-bottom:1px solid #DBDBDB;}
.ui-layer-button { display:inline-block; overflow:hidden; cursor:pointer;}
.ui-layer-close { position:absolute; top:2px; right:5px; width:27px; height:27px; line-height:27px; text-align:center; font-size:27px; color:#666; border:none; z-index:1;}
.ui-layer-main:before, .ui-layer-main:after { content:''; display:table;}
.ui-layer-main:after { clear:both;}
.ui-layer-main { *zoom:1; font-size:14px;}
.ui-layer-tips { padding:0; border:1px solid #E82018; border-radius:0;}
.ui-layer-tips .ui-layer-box { border:none;}
.ui-layer-tips, .ui-layer-tips .ui-layer-body { background-color:#FFEBEB;}
.ui-layer-tips .ui-layer-body, .ui-layer-tips .ui-layer-main { _display:inline;}
.ui-layer-tips .ui-layer-box, .ui-layer-tips .ui-layer-main { _zoom:0;}
.ui-layer-tips .ui-layer-main { color:#E82018;}
.ui-layer-arrow, .ui-layer-arrow b, .ui-layer-arrow i { position:absolute;}
.ui-layer-arrow b, .ui-layer-arrow i { overflow:hidden; line-height:0; font-size:0; border:6px dashed transparent;}
.ui-layer-arrow-top { top:-12px; left:10px;}
.ui-layer-arrow-top b, .ui-layer-arrow-top i { border-bottom-style:solid;}
.ui-layer-arrow-top b { border-bottom-color:#E82018; top:0; left:0;}
.ui-layer-arrow-top i { border-bottom-color:#FFEBEB; top:1px; left:0;}
.ui-layer-arrow-right { right:-12px; top:10px;}
.ui-layer-arrow-right b, .ui-layer-arrow-right i { border-left-style:solid;}
.ui-layer-arrow-right b { border-left-color:#E82018; right:0; top:0;}
.ui-layer-arrow-right i { border-left-color:#FFEBEB; right:1px; top:0;}
.ui-layer-arrow-bottom { bottom:-12px; left:10px;}
.ui-layer-arrow-bottom b, .ui-layer-arrow-bottom i { border-top-style:solid;}
.ui-layer-arrow-bottom b { border-top-color:#E82018; bottom:0; left:0;}
.ui-layer-arrow-bottom i { border-top-color:#FFEBEB; bottom:1px; left:0;}
.ui-layer-arrow-left { left:-12px; top:10px;}
.ui-layer-arrow-left b, .ui-layer-arrow-left i { border-right-style:solid;}
.ui-layer-arrow-left b { border-right-color:#E82018; left:0; top:0;}
.ui-layer-arrow-left i { border-right-color:#FFEBEB; left:1px; top:0;}
.ui-layer-foot { padding:15px 10px 20px; height:28px; text-align:center; overflow:hidden;}
.ui-layer-foot.f-tar { text-align:right;}
.ui-layer-foot.f-tal { text-align:left;}
.ui-layer-foot .ui-layer-button { margin:0 6px; padding:0 10px; min-width:70px; height:26px; text-align:center; line-height:26px; font-size:14px; border:1px solid #FF9C00; color:#FF9C00; border-radius:4px;}
.ui-layer-foot .ui-layer-confirm { color:#fff; background-color:#FF9C00;}
.ui-layer-foot .ui-layer-cancel { color:#FF9C00; background-color:#fff;}
.ui-layer-mask { display:none; position:fixed; top:0; left:0; z-index:10000; width:100%; height:100%;}
.ui-layer-mask div { position:relative; width:100%; height:100%; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000); background:rgba(0,0,0,.5); background:transparent\; }
.ui-layer-movemask { position:absolute; cursor:move; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000); background:rgba(0,0,0,0.5); background:transparent\;}
.t-layer-message { border-color:#D6E9FF; background-color:#fff;}
.t-layer-message .ui-layer-body { background-color:#fff;}
.t-layer-message .ui-layer-main { padding:20px; color:#000; font-size:14px;}
.t-layer-message .ui-layer-main span { float:left; line-height:25px;}
.t-layer-message .ui-layer-main i { float:left; margin-right:6px; line-height:normal; font-size:24px; color:#65A718;}
.t-mask-message div { filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33ffffff,endColorstr=#33ffffff); background:rgba(255,255,255,.3); background:transparent\;}

/* select */
.ui-select { position:absolute; top:-999em; left:-999em; opacity:0;}
.ui-imitselect { height:21px; cursor:pointer; background-color:#fff; -webkit-user-select:none; -moz-user-select:none; -o-user-select:none;}
.ui-imitselect, .ui-imitselect dd { border:1px solid #DDD;}
.ui-imitselect dt { height:100%; padding-right:22px; padding-left:5px; position:relative;}
.ui-imitselect dt span { display:block; height:100%; overflow:hidden;}
.ui-imitselect dt strong, .ui-imitselect dt input { display:block; border:none; font-weight:normal; width:100%; text-align:left; height:100%; line-height:21px;}
.ui-imitselect dt input { height:21px; line-height:normal; line-height:21px\9;}
.ui-imitselect dt i { position:absolute; top:0px; right:4px; -webkit-transition:all .3s ease-in; -ms-transition:all .3s ease-in; transition:all .3s ease-in;}
.ui-imitselect.s-dis { cursor:default;}
.ui-imitselect.s-dis dt, .ui-imitselect.s-dis dt input { background-color:#E2E2E2; color:#ABABAB;}
.ui-imitselect.s-dis { border-color:#ACACAC;}
.ui-imitselect.s-dis dt i { color:#ddd;}
.ui-imitselect dd { width:100%; display:none; text-align:left; border-radius:0 0 3px 3px; position:absolute; top:21px; left:-1px; z-index:1; background-color:#fff;}
.ui-imitselect.s-show dd { display:block;}
.ui-imitselect.s-show dt i { -webkit-transform:rotate(180deg); -webkit-transform-origin:50% 50%; -ms-transform:rotate(180deg); -ms-transform-origin:50% 50%; transform:rotate(180deg); transform-origin:50% 50%;}
.ui-imitselect dd li { padding-left:5px; font-style:normal; height:21px; line-height:21px; overflow:hidden;}
.ui-imitselect dd li.s-crt { background-color:#F8F8F8;}
.ui-imitselect-search { padding:0 5px; height:20px; border-bottom:1px solid #ddd; cursor:default; zoom:1;}
.ui-imitselect-search input { width:100%; height:20px; line-height:20px\9;}
.ui-imitselect-search strong { float:left; color:#999;}
.ui-imitselect-search strong b { line-height:20px;}
.ui-imitselect-btn { position:absolute; width:21px; height:26px; top:0; right:0; background-color:#fff;}
.ui-imitselect-btn em { position:absolute; left:4px; line-height:0; font-size:0; border:6px dashed transparent;}
.ui-imitselect-btn .prev { bottom:-1px; border-top-color:#7d7d7d; border-top-style:solid;}
.ui-imitselect-btn .next { top:-1px; border-bottom-color:#7d7d7d; border-bottom-style:solid;}

/* paging */
.ui-paging { overflow:hidden; zoom:1; background-color:#fff;}
.ui-paging li { float:left; display:inline; text-align:center; margin-right:5px; line-height:22px;}
.ui-paging span,.ui-paging a,.ui-paging em,.ui-paging input,.ui-paging button { float:left;}
.ui-paging span,.ui-paging a { height:22px; width:22px; text-align:center; border:1px solid #ccc;}
.ui-paging span { background-color:#efefef;}
.ui-paging input { border:1px solid #DBDBDB; width:30px; height:22px; margin:0 3px; text-align:center; line-height:22px;}
.ui-paging button { margin-left:2px; width:40px; height:24px; border:1px solid #DBDBDB; background:#fff; cursor:pointer;}

/* checkradio */
.ui-checkradio, .ui-checkradio em, .ui-checkradio i { display:inline-block;}
.ui-checkradio em { cursor:pointer;}
.ui-checkradio input { opacity:0; filter:alpha(opacity=0);}
.ui-checkradio i { width:14px; height:14px; background:url("../images/check.png?v=70c947b") no-repeat;}
.ui-checkradio .ui-radio i { background-image:url("../images/radio.png?v=5b9bb7f");}
.ui-checkradio .ui-checkbox.s-checked i, .ui-checkradio .ui-radio.s-checked i { background-position:-14px 0;}
.ui-checkradio em.s-dis { cursor:default;}
.ui-checkradio .ui-checkbox.s-dis i { background-position:-28px 0;}

/* calendar */
.ui-calendar { width:460px; background-color:#fff; z-index:19920604; font-size:12px; color:#000; -webkit-user-select:none; -ms-user-select:none; user-select:none;}
.ui-calendar .clearfix:before, .ui-calendar .clearfix:after { content:''; display:table;}
.ui-calendar .clearfix:after { clear:both;}
.ui-calendar .clearfix { *zoom:1;}
.ui-calendar-head, .ui-calendar-foot { margin:0 30px;}
.ui-calendar-head { padding:0 0 20px;}
.ui-calendar-head em { float:left; margin:20px 0 0 -1px; width:98px; height:30px; line-height:30px; background-color:#fff; text-align:center; color:#000; border:1px solid #E2E2EA; cursor:pointer;}
.ui-calendar-head em.s-crt { background-color:#8A8DB7; color:#fff; border-color:#8A8DB7;}
.ui-calendar-main { padding:0 10px;}
.ui-calendar-tab { margin:0 20px; position:relative; padding-bottom:20px; height:16px; line-height:16px; text-align:center; border-bottom:1px solid #F2F2F2;}
.ui-calendar-tab .tabdir { position:absolute; top:2px;}
.ui-calendar-tab .tab-left { left:50px;}
.ui-calendar-tab .tab-right { right:50px;}
.ui-calendar-tab .dirbtn { float:left; margin:0 5px; width:12px; height:12px; overflow:hidden; background:url("../images/btn.png?v=650fec1") no-repeat; cursor:pointer;}
.ui-calendar-tab strong, .ui-calendar-tab b { font-size:14px; font-weight:bold;}
.ui-calendar-tab b { margin:0 2px;}
.ui-calendar-tab .prevYear { background-position:center 0;}
.ui-calendar-tab .prevMonth { margin-left:28px; background-position:center -201px;}
.ui-calendar-tab .nextYear { background-position:center -34px;}
.ui-calendar-tab .nextMonth { margin-right:28px; background-position:center -234px;}
.ui-calendar-tab .prevYear:hover { background-position:center -66px;}
.ui-calendar-tab .prevMonth:hover { background-position:center -270px;}
.ui-calendar-tab .nextYear:hover { background-position:center -98px;}
.ui-calendar-tab .nextMonth:hover { background-position:center -303px;}
.ui-calendar-tab .prevYear.s-dis { background-position:center -131px;}
.ui-calendar-tab .prevMonth.s-dis { background-position:center -340px;}
.ui-calendar-tab .nextYear.s-dis { background-position:center -163px;}
.ui-calendar-tab .nextMonth.s-dis { background-position:center -373px;}
.ui-calendar-tab .dirbtn.s-dis { cursor:default;}
.ui-calendar-tab div { position:absolute; left:50%; top:0; width:86px; margin-left:-43px; font-size:14px;}
.ui-calendar-tab dl { position:relative;}
.ui-calendar-tab dl, .ui-calendar-tab b { float:left;}
.ui-calendar-tab dt, .ui-calendar-tab b { line-height:16px;}
.ui-calendar-tab dd { position:absolute; top:20px; left:50%; padding:2px 0; margin-left:-41px; width:82px; border:1px solid #D7D7D7; background-color:#fff;}
.ui-calendar-tab dd i, .ui-calendar-tab dd s { position:absolute; left:50%; line-height:0; font-size:0;}
.ui-calendar-tab dd i { top:-12px; margin-left:-6px; border:6px dashed transparent; border-bottom-color:#D7D7D7; border-bottom-style:solid;}
.ui-calendar-tab dd s { top:-10px; margin-left:-5px; border:5px dashed transparent; border-bottom-color:#fff; border-bottom-style:solid;}
.ui-calendar-tab dd span { position:relative; display:block; margin:0 2px; height:14px; overflow:hidden; background-color:#444351; cursor:pointer;}
.ui-calendar-tab dd span i { border:5px dashed transparent;}
.ui-calendar-tab dd .upYear i { top:0px; border-bottom-color:#D7D7D7; border-bottom-style:solid;}
.ui-calendar-tab dd .downYear i { top:5px; border-top-color:#D7D7D7; border-top-style:solid;}
.ui-calendar-tab ul { padding:5px 0;}
.ui-calendar-tab li { float:left; display:inline; margin:0 0 0 5px; width:34px; height:20px; line-height:20px; text-align:center;}
.ui-calendar-tab li.s-crt { background-color:#D7D7D7;}
.ui-calendar-tab li.s-dis { color:#ccc;}
.ui-calendar-tab li.s-crt.s-dis { color:#fff;}
.ui-calendar-table { margin-top:10px; width:100%;}
.ui-calendar-table th { color:#666;}
.ui-calendar-table td, .ui-calendar-table th { padding:0; width:45px; height:31px; text-align:center; vertical-align:middle;}
.ui-calendar-table td span { cursor:pointer;}
.ui-calendar-table td span { display:inline-block; width:31px; height:31px; line-height:31px; border-radius:50%;}
.ui-calendar-table td span:hover { background-color:#F6F6FF;}
.ui-calendar-table td.s-crt span, .ui-calendar-table td.s-sel span { background-color:#8A8DB7; color:#fff;}
.ui-calendar-table td.s-dis span, .ui-calendar-table td.other-cell span { background:none; color:#ccc; cursor:default;}
.ui-calendar-table td { padding:4px 0;}
.ui-calendar-foot { padding:20px 0; margin-top:5px; border-top:1px solid #F2F2F2;}
.ui-calendar-foot span { float:right; line-height:24px;}
.ui-calendar-foot span em { float:left; cursor:pointer;}
.ui-calendar-foot span .confirm:hover { background-color:#7175A0;}
.ui-calendar-foot span .confirm { width:65px; height:24px; text-align:center; border-radius:12px; background-color:#8A8DB7; color:#fff;}
.ui-calendar-foot span .close { margin-left:20px; color:#0075FD;}
.ui-calendar-foot span .close:hover { color:#146BD1;}
.ui-calendar-multi { width:680px;}
.ui-calendar-multi .ui-calendar-main { float:left; width:330px;}
.ui-calendar-multi td.s-sel span { background:none; color:#333;}
.ui-calendar-time { position:absolute; left:0; bottom:45px; width:340px; background-color:#fff; text-align:center;}
.ui-calendar-timehead { position:relative; height:30px; line-height:30px; background-color:#807C7C; border-bottom:1px solid #D7D7D7; color:#fff;}
.ui-calendar-timehead i { position:absolute; top:5px; right:10px; cursor:pointer;}
.ui-calendar-time.hour { width:245px;}
.ui-calendar-timebody { padding:0 0 5px;}
.ui-calendar-timebody span { float:left; margin:5px 0 0 5px; width:28px; height:28px; line-height:28px;}
.ui-calendar-timebody span.s-crt { background-color:#0099FF; color:#fff;}
.ui-calendar-timebody span.s-dis { color:#ccc; background-color:#D7D7D7;}
.ui-calendar-timebody span.s-crt.s-dis { color:#fff;}

.g-header { height:42px; background-color:#fff; border-bottom:1px solid #f6f6f6;}
.m-logo { line-height:42px; color:#3399ff;}
.m-logo h1 { font-size:24px;}
